body {
    background-color: lightseagreen;
    padding: 1em 5em;
}

#menu {
    position: relative;
    float: right;
    margin: .25em;
}

#menu a {
    border: 2px inset darkblue;
    padding: .25em;
    color: black;
    background-color: darkcyan;
    text-decoration: none;
}

#menu a:hover {
    background-color: lightblue;
    border: 2px solid #0000;
}

h3 {
    margin: 0;
}

tr>td:first-child {
    padding-right: 1.5em;
}
