#div-login {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightseagreen;
    padding: 2em;
    width: 20%;
    box-sizing: content-box;
}

body {
    background-color: lightblue;
}

.credenciales {
    width: 90%;
    background-color: lightcyan;
}

#enviar {
    background-color: lightcyan;
    border: 1px solid darkblue;
    padding: .25em 0;
    width: 30%;
    float: right;
}

button {
    border: 1px solid darkblue;
    border-radius: .25em;
    padding: .25em;
    margin: .25em 0;
}

a {
    text-decoration: none;
    color: black;
}

button:hover {
    background-color: lightblue;
}