body {
    width: 80%;
}

#div-profile{
    display: flex;
}
#div-profile-picture{
    margin-right: 10px;
}
#div-profile-picture p{
    margin: 0.5em;
}

img{
    height: 10em;
    border: 3px solid white;
    margin-bottom: 1em;
    border-radius: .25em;
}

.buttons-profile {
    background-color: lightcyan;
    border: 1px solid darkblue;
    border-radius: .25em;
    padding: .25em .5em;
}

.buttons-profile:hover {
    background-color: lightblue;
}

div:last-of-type form:last-of-type input {
    margin-top: .5em;
}

#stars {
    position: absolute;
    right: 15em;
    top: 6em;
}

#givestars, #button-img {
    float: right;
    margin-top: 1em;
}

a {
    background-color: lightcyan;
    color: black;
    text-decoration: none;
    padding-inline: .25em;
    border-radius: .25em;
}
a:hover {
    background-color: lightblue;
}

.long-hr{
    margin-top:    1.5em;
    margin-bottom: 1.5em;
}