body {
    background-color: lightblue;
    padding: 2em;
}

h2 {
    margin: 0;
    margin-bottom: 1em;
}

#div-signin {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightseagreen;
    padding: 2em;
    width: 40%;
}

.inputs {
    width: 100%;
    background-color: lightcyan;
    border: 2px solid black;
}

#rol {
    margin-top: .5em;
    width: 75%;
    padding: .25em .5em;
    border: 2px solid black;
}

#register-button {
    margin-top: 1em;
    background-color: lightcyan;
    border: 1px solid darkblue;
    border-radius: .25em;
    padding: .25em .5em;
    float: right;
}

table {
    width: 75%;
}
    
th {
    display: block;
    text-align: left;
}
