body{
    background-color: #333;
}
/* lo del body y los colores he puesto estos
pa no quedarme ciego en el bus */


.ticket-view{
    /* El post */
    background-color: #666;

    /* Lo siento Alex, esto es una etarrada honestamente,
    pero hace el apaño de como deberia verse aprox. */
    padding: 5px 0px 20px 20px;


    margin: 20px 0px;
    position: relative;
}
.ticket-view h2{
    /* asunto y/o titulo del post */
    margin-left: 5px;
}
.ticket-view h2 span{
    /* id del ticket */
    opacity: 0.5;
    margin-left: 10px;
}
.ticket-view h3 {
    /* correo */
    margin-left: 5px;
    margin-top: -20px;
    font-weight: normal;

    opacity: 0.5;
}
.ticket-view svg {
    /* icono de estado */
    color: #ccc;
    width: 20px;
    height: 20px;

    position: absolute;
    top:   20px;
    right: 20px;
}
.ticket-view div {
    /* cuerpo ¿div o p?*/
    background-color: #ccc;
    border: #333 solid 1px;

    min-height: 50px;
    padding: 10px;
    margin: 10px 20px;
}
.ticket-view a {
    /* archivo adjunto*/
    margin: 10px 20px;
}



#not-found-message{
    background-color: #933;
    border: solid #f00 2px;
    border-radius: 10px;
    
    margin: 50px;
    padding: 5px;

    text-align: center;
}