body{
    background-color: #333;
}
/* lo del body y los colores he puesto estos
pa no quedarme ciego en el bus */


.ticket{
    /* El post */
    background-color: #666;

    /* Lo siento Alex, esto es una etarrada honestamente,
    pero hace el apaño de como deberia verse aprox. */
    padding: 5px 0px 20px 20px;


    margin: 20px 0px;
    position: relative;
}
.ticket h2{
    /* asunto y/o titulo del post */
    margin-left: 5px;
}
.ticket h2 span{
    /* id del ticket */
    opacity: 0.5;
    margin-left: 10px;
}
.ticket h3 {
    /* correo */
    margin-left: 5px;
    font-weight: normal;

    opacity: 0.5;
}
.ticket h2+h3 {
    /* quitar margen en el titulo */
    margin-top: -20px;
}
.ticket h4 {
    /* fecha */
    margin-top: -20px;
    margin-left: 5px;
    opacity: 0.5;
}
.ticket svg {
    /* icono de estado */
    color: #ccc;
    width: 20px;
    height: 20px;

    position: absolute;
    top:   20px;
    right: 20px;
}
.ticket div {
    /* cuerpo ¿div o p?*/
    background-color: #ccc;
    border: #333 solid 1px;

    min-height: 50px;
    padding: 10px;
    margin: 10px 20px;

    clear: both;
}
.ticket > a {
    /* archivo adjunto*/
    margin: 10px 20px;
}
.ticket a:has(img) {
    /* profile picture */
    width:  100px;
    height: 100px;

    object-fit: cover;
    border-radius: 50px;

    float: left;

    /* para el texto de la derecha */
    margin-right: 10px;
}



#not-found-message{
    background-color: #933;
    border: solid #f00 2px;
    border-radius: 10px;
    
    margin: 50px;
    padding: 5px;

    text-align: center;
}
#ans-done-message{
    background-color: #393;
    border: solid #0f0 2px;
    border-radius: 10px;
    
    margin: 10px;
    padding: 5px;

    text-align: center;
}