.ticket{
    /* El post */
    background-color: teal;
    padding: 2em;
    margin: 2em 0px;
    border-radius: .5em;
    position: relative;
}
.ticket h2{
    /* asunto y/o titulo del post */
    margin-left: 5px;
}
.ticket h3 {
    /* correo */
    margin-left: 5px;
    font-weight: normal;
}
.ticket h2+h3 {
    /* quitar margen en el titulo */
    margin-top: -20px;
}
.ticket h4 {
    /* fecha */
    margin-left: 5px;
}
.ticket svg {
    /* icono de estado */
    width: 20px;
    height: 20px;

    position: absolute;
    top:   20px;
    right: 20px;
}
.ticket div {
    /* cuerpo ¿div o p?*/
    background-color: lightcyan;
    border: darkblue solid 2px;

    min-height: 2em;
    padding: 10px;
    margin: 10px 20px;

    clear: both;
}
.ticket > a {
    /* archivo adjunto*/
    margin: 10px 20px;
}
.ticket a:has(img) {
    /* profile picture */
    width:  100px;
    height: 100px;

    float: left;

    /* para el texto de la derecha */
    margin-right: 10px;
}
.ticket img {
    /* profile picture */
    width:  100px;
    height: 100px;

    border-radius: 50px;
    object-fit: cover;
}

#not-found-message{
    background-color: #933;
    border: solid #f00 2px;
    border-radius: 10px;
    
    margin: 50px;
    padding: 5px;

    text-align: center;
}
#ans-done-message{
    background-color: #393;
    border: solid #0f0 2px;
    border-radius: 10px;
    
    margin: 10px;
    padding: 5px;

    text-align: center;
}

.linkemail {
    text-decoration: none;
    background-color: lightseagreen;
    color: black;
    padding: 0 .5em;
}
.linkemail:hover {
    background-color: lightblue;
}

#ans {
    width: 50%;
    height: 3em;
    background-color: lightcyan;
    border: 2px solid black;
}

#button-ans {
    background-color: lightcyan;
    border: 1px solid darkblue;
    padding: .25em .5em;
    border-radius: .25em;
    position: absolute;
    left: 40%;
}

#changestatus {
    margin-top: .5em;
    width: 15%;
    padding: .25em .5em;
    border: 2px solid black;
}